#formContainer {
  margin: 5px;

}
#form {
  text-align: center;
  margin: auto;
  border: none;
  padding: 10px;
}

#trademark {
  float: right;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

input, textarea {
  border-bottom: 3px solid #cc2900;
}

h2 {
  font-size: 5em;
}

.form-control {
  border-bottom: 3px solid #CC2900;
}

.form-control:focus {
  border-bottom: 3px solid gold;
}

.btn-success {
  font-size: 250%;
}
